@import url("https://fonts.googleapis.com/css?family=Exo+2:300,400,700");
:root {
  --primary-bg-colour: #d8d8d8;
  --primary-font: 'Exo 2', sans-serif;
  --primary-font-color: #1d1d1d;
  --container-bg-color: #ffffff; }

html {
  font-size: 62.5%;
  /* font-size 1em = 10px on default browser settings */ }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  background: var(--primary-bg-colour); }

body h1 {
  font-weight: 300;
  font-size: 4rem; }

body p {
  font-size: 2rem; }

.container {
  max-width: 658px;
  width: 100%;
  margin: 5rem auto;
  padding: 5rem;
  background: var(--container-bg-color);
  border-radius: 0.5rem;
  text-align: center;
  -webkit-box-shadow: 0px 2px 40px 0px #a3a3a3;
  -moz-box-shadow: 0px 2px 40px 0px #a3a3a3;
  box-shadow: 0px 2px 40px 0px #a3a3a3; }

.container .container-heading,
.container .container-rate-food,
.container .container-rate-delivery,
.container .container-rate-overall {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 4rem;
  margin-top: 3rem; }

.container .container-form-submit button {
  background: #0021ff;
  color: #ffffff;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  font-size: 2rem;
  max-width: 300px;
  width: 100%;
  margin-top: 4rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 40px 0px #a3a3a3;
  -moz-box-shadow: 0px 2px 40px 0px #a3a3a3;
  box-shadow: 0px 2px 40px 0px #a3a3a3; }

.star,
.star2,
.star3 {
  color: #ebb82f;
  font-size: 2rem;
  padding: 0 1rem;
  /* space out the stars */ }

.star::before,
.star2::before,
.star3::before {
  content: '\2605';
  cursor: pointer;
  font-size: 4rem;
  color: #d4d4d4; }

.star:hover::before,
.star2:hover::before,
.star3:hover::before {
  /* the :hover should come first */
  content: '\2605';
  font-size: 4rem;
  color: #ebb82f; }

.star.rated::before,
.star2.rated::before,
.star3.rated::before {
  /* the :hover should come first */
  content: '\2605';
  font-size: 4rem; }
